<ion-app>
    <!-- <ion-router-outlet></ion-router-outlet>   -->
    <ion-menu contentId="menu-content" max-edge-start = "100" menuId="menu2" side="start" type="overlay">
      <ion-header>
        <ion-toolbar>
          <ion-title>Opciones</ion-title>
        </ion-toolbar>
      </ion-header>
      <ion-content>
        <ion-button  [routerLink]="['inicio']" expand="block" fill="clear" shape="round">
          Hoja de Vida
        </ion-button>
        <ion-button [routerLink]="['tabs']" expand="block" fill="clear" shape="round">
          Tabs
        </ion-button>
      </ion-content>
    </ion-menu>
    <ion-router-outlet id="menu-content"></ion-router-outlet>
  

</ion-app>





<!-- Esta es una forma de hacer link con routerlink, pero no es recomendable cuando lo que se quiere es cambiar el home
<ion-app>
 <ion-router-outlet></ion-router-outlet>    
  <ion-menu contentId="menu-content" max-edge-start = "100" menuId="menu2" side="start" type="overlay">
    <ion-header>
      <ion-toolbar>
        <ion-title>Opciones</ion-title>
      </ion-toolbar>
    </ion-header>
    <ion-content>
      <ion-button [routerLink]="['inicio']" expand="block" fill="clear" shape="round">
        Hoja de Vida
      </ion-button>
      <ion-button [routerLink]="['tabs']" expand="block" fill="clear" shape="round">
        Tabs
      </ion-button>
    </ion-content>
  </ion-menu>
  <ion-router-outlet id="menu-content"></ion-router-outlet>


</ion-app> -->