<ion-header>
  <ion-toolbar>
    <ion-title>tres</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
 <ion-grid fixed>
  <ion-row class="ion-justify-content-around">
    <ion-col size="12" size-sm="4"  >
      <ion-button  color="success"   expand="block" shape="round">
        Recomendaciones
    </ion-button>
  </ion-col>
    <ion-col size="12" size-sm="4">
      <ion-button  color="warning"    expand="block"   shape="round">
        Certificados
    </ion-button>
  </ion-col>
    <ion-col  size="12" size-sm="4">
      <ion-button  color="danger"  expand="block"   shape="round">
        Idiomas
    </ion-button>
  </ion-col>
  </ion-row>

  <ion-row>
    <ion-col size="12" size-sm="6">
      <ion-card>
          <ion-card-title>Card Uno</ion-card-title>
      </ion-card>
    </ion-col>
    <ion-col size="12" size-sm="6">
      <ion-card>
        <ion-card-title>Card Dos</ion-card-title>
      </ion-card>
    </ion-col>
  </ion-row>
 </ion-grid>

</ion-content>
